body{
    /* background: url(./images/download.png); */
    /* position: fixed; */
    /* background-repeat: no-repeat;
    background-size: cover; */
    
}
.myMargin{
    margin: 1px;
}
nav{
    margin-top: 25px;
    margin-bottom: 25px;
}
.calBody{
    background-color: #f1f2f6;
    box-shadow:         3px 3px 5px 6px #ccc;
    
    
}
.rowAllign{
    justify-content: center;
}
input{
    color: #2f3640;
    background: none;
}