body{
    /* background: url(./images/download.png); */
    /* position: fixed; */
    /* background-repeat: no-repeat;
    background-size: cover; */
    
}
.myMargin{
    margin: 1px;
}
nav{
    margin-top: 25px;
    margin-bottom: 25px;
}
.calBody{
    background-color: #f1f2f6;
}
input{
    color: #2f3640;
    background: none;
}